{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Notre histoire{% endblock %}

{% block linkCss %} <link rel="stylesheet" type="text/css" href="{{ asset('css/styleHistoire.css') }}"> {% endblock %}

{% block body %}
<div class="slideshow-container">
    <div class="mySlides1">   
        <div class="titre">
            <h1>Une histoire qui nous lie</h1>
            <h3>Amis un jour, Amis pour toujours</h3>
        </div>
        <div class="texte1">
            <p>Le Carrelet est avant tout le projet de deux amis d’enfance. Jonathan Villette, auparavant commercial et promoteur immobilier, et Benoît Malaquin, barman. Amis depuis leur plus jeune âge, ils se lancent en janvier 2018 dans ce projet. 
                Ils décident d’acheter le fonds de commerce d’un restaurant - Bar à vin, anciennement « The Warehouse ». Ils ont réalisé d’eux-mêmes tous les travaux nécessaires, durant plusieurs mois, jusqu’à l’ouverture en décembre 2018. 
                L ’amitié de ses deux amis d’enfance fait ressortir dans ce bar une atmosphère joyeuse et sympathique. Le sentiment de bien-être, d’appartenance, d’être écouté et l’impression de se sentir chez soi ressortent bien souvent des avis des clients du Carrelet.
            </p>
        </div>
    </div>
    <div class="mySlides1">
        <div class="titre">
            <h1>Une histoire qui nous lie</h1>
            <h3>Le carrelet, une histoire dans le temps</h3>
        </div>
        <div class="texte1">
            <p>Le carrelet est un nom typique de la Gironde, région où est implanté le bar. Il faisait, auparavant, référence aux ﬁlets de pêche de plusieurs mètres carrés qu’utilisaient les pêcheurs. Au ﬁl des années, ce nom a été donné aux petites cabanes en bois, associées aux ﬁlets de pêche. Elles étaient utilisées par les pêcheurs pour s’abriter et se retrouver entre amis. 
            Ce nom a été choisi pour ce bar en référence à sa décoration  en bois et son point d’eau non loin. De plus, le lien entre ces deux amis d’enfance et l’endroit où l’on se retrouve entre amis font directement référence au Carrelet.
            </p>
        </div>
    </div>
    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
{% endblock %}