{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Contacts {% endblock %}

{% block linkCss %} <link rel="stylesheet" type="text/css" href="{{ asset('css/styleContact.css') }}"> {% endblock %}

        
            
{% block body %}

    <div class="titre-contact">
        <h1>Contactez-nous</h1>
    </div>
    <div class="content-pres-contact">
        <div class="adresse-map">
            <div class="adresse">
                <h3>Notre adresse</h3>
                <div class="adresse-detail">
                    <p>64 bis rue Lucien Faure</p>
                    <p>33300 BORDEAUX</p>
                    <p>05 57 00 76 39</p>
                    <p>contact@lecarreletbar.com</p>
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7998.560288707943!2d-0.5555844623163909!3d44.86396186533043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5529cbf00d0011%3A0x650f55d0657b89c9!2sLe%20Carrelet!5e0!3m2!1sfr!2sfr!4v1583238749136!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="">
                    <p>Votre navigateur ne supporte pas les iframes.</p>
                </iframe>
            </div>
        </div>
        <div class="cont-form">
            {{ form_start(form) }}
                <div id="nom">{{ form_row(form.name)}}</div>
                <div id="email">{{ form_row(form.email)}}</div>
                <div id="textarea">{{ form_row(form.message)}}</div>
                <div class="check-label-submit">
                    <div class="check-label">
                        <input type="checkbox" id="check" name="check" required>
                        <label for="check">J’ ai bien pris connaissance de la réglementation
                            concernant la protection des données <a href="{{ path('cgu') }}">RGPD</a></label>
                    </div>
                    <button type="submit" id="submit" value="Envoyer">Envoyer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
                
        
    <div id="modal">
        <div class="imgModal">
            <img class="logoMod" src="{{ asset('images/Logo_Carrelet.jpg') }}" alt="logo carrelet">
        </div>
        <div class="modalContent">
            <p>Votre demande a bien été enregistrée. Un mail de confirmation vient de vous être
                envoyer.
                Vous recevrez une réponse dans les plus brefs délai.
                Toute l'équipe du Carrelet vous remercie et se tient à votre disposition pour toute
                demande ultérieure.
            </p>
            <img id="modalCross" src="{{ asset('images/close.png') }}" alt="cross">
        </div>
    </div>


    {% block javascriptts %}

        <script>
            
            
                $("#submit").on("click", function() {
                    var text = document.getElementById("contact_message").value;
                    if(text.length >= 10 ) {
                        $("#modal").animate({left:"50%"}, 200, "linear");
                    }
                });
                
                $("#modalCross").on("click", function() {
                    $("#modal").animate({left:"-50%"}, 200, "linear");
                });
            
            
        </script>

    {% endblock %}
    
       
{% endblock %}