{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Evenements {% endblock %}

{% block linkCss %} <link rel="stylesheet" type="text/css" href="{{ asset('css/styleEvent.css') }}"> {% endblock %}

{% block body %}
        
    <div id="blocEvent">
        <h1 id="titreEvent">Evènements</h1>

        <div id="plugFb" class="eventCase orangeBorder">
            <h4 class="titleEvent">Actualités</h4>
            <iframe id="pluggy" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=500&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="500" height="650" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
            </iframe>
            <img class="imgActu" src="images/carrelet_cible02.jpg">
        </div>
        <div id="autreEvent" class="eventCase orangeBorder">
            <div id="atelierCocktail">
                <h4 class="titleEvent">Atelier Cocktails</h4>
                <div id="imgAtelierCocktail">
                    <img class="imgAtelier imgEvent1" src="images/Evenement_cocktails-01.jpg" alt="img">
                    <img class="imgAtelier imgEvent2" src="images/Evenement_cocktails-02.jpg" alt="img">
                    <img class="imgAtelier imgEvent3" src="images/Evenement_cocktails-03.jpg" alt="img">
                </div>
                <p class="orangeBorder">Découvrez nos ateliers cocktails, une activité à partager en famille ou entre collègues ! Apprenez à utiliser le matériel professionnel, découvrez l’art ainsi que l’histoire du cocktail et des produits utilisés, réalisez vos cocktails avec ou sans alcool puis dégustez les. Notre barman vous transmettra toutes les techniques de pros et vous fera profiter de conseils et d’astuces utiles. Vous pourrez à votre tour, réaliser de délicieux cocktails pour vos amis grâce aux fiches recettes qui vous seront remises à l'issue de l'atelier.
                </p>
                <a class="hoverLight" href="{{ path('contact') }}"><input type="button" class="boutonOrange" value="Pour Réserver"></input></a>
            </div>
            <div id="privatisation">
                <h4 class="titleEvent">Privatisation</h4>
                <div id="imgPrivatisation">
                    <img class="imgAtelier imgEvent1" src="images/Evenement_privatisation-01.jpg" alt="img">
                    <img class="imgAtelier imgEvent2" src="images/Evenement_privatisation-02.jpg" alt="img">
                    <img class="imgAtelier imgEvent3" src="images/Notre-Carte_Classiques01.jpg" alt="img">
                </div>
                <p class="orangeBorder">Venez fêter au sein de notre bar à cocktails, les futurs événements que vous désirer partager avec vos proches ou bine entre collègues.
                    Le Carrelet saura les rendre innoubliables : Afterwork, pot de départ, soirée entreprise, anniversaire, EVG/EVF et bien d'autres.
                </p>
                <a class="hoverLight" href="{{ path('contact') }}"><input type="button" class="boutonOrange" value="Pour Réserver"></input></a>
            </div>
        </div>
    </div>


    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0"></script>
    
    <script type="text/javascript">
        
        var iPadEvent = window.matchMedia("(max-width: 650px)")
        iPadEventFunction(iPadEvent) // Call listener function at run time
        iPadEvent.addListener(iPadEventFunction) // Attach listener function on state changes

        function iPadEventFunction(iPadEvent) {
            if (iPadEvent.matches) { // If media query matches
                
                $("#pluggy").removeAttr("src");
                $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=450&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="450"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "450",
                    "height": "650"
                });
            }
            else {
                
                $("#pluggy").removeAttr("src");
                $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=500&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="500"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "500",
                    "height": "650"
                });
            }
            
        }

        var iPadEvent2 = window.matchMedia("(max-width: 576px)")
        iPadEvent2Function(iPadEvent2) // Call listener function at run time
        iPadEvent2.addListener(iPadEvent2Function) // Attach listener function on state changes
        

        function iPadEvent2Function(iPadEvent2) {
            if (iPadEvent2.matches) { // If media query matches
               
                $("#pluggy").removeAttr("src");
                $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=350&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="350"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "350",
                    "height": "650"
                });
            }
            else {
                
                $("#pluggy").removeAttr("src");
                $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=450&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="450"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "450",
                    "height": "650"
                });
            }
            
        }

        var iPadEvent3 = window.matchMedia("(max-width: 470px)")
        iPadEvent3Function(iPadEvent3) // Call listener function at run time
        iPadEvent3.addListener(iPadEvent3Function) // Attach listener function on state changes

        function iPadEvent3Function(iPadEvent3) {
            if (iPadEvent3.matches) { // If media query matches
               
                $("#pluggy").removeAttr("src");
                $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=300&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="300"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "300",
                    "height": "650"
                });
            }
            else {
                
                $("#pluggy").removeAttr("src");
                $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=350&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="350"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "350",
                    "height": "650"
                });
            }
            
        }

        var iPadEvent4 = window.matchMedia("(max-width: 390px)")
        iPadEvent4Function(iPadEvent4) // Call listener function at run time
        iPadEvent4.addListener(iPadEvent4Function) // Attach listener function on state changes

        function iPadEvent4Function(iPadEvent4) {
            if (iPadEvent4.matches) { // If media query matches
               
                $("#pluggy").removeAttr("src");
                $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=220&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="220"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "220",
                    "height": "650"
                });
            }
            else {
                
                $("#pluggy").removeAttr("src");
                $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=300&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="300"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "300",
                    "height": "650"
                });
            }
            
        }
        $("#pluggy").attr({
                    "src": "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flecarreletbarbordeaux%2F&tabs=events%2C%20timeline&width=500&height=650&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" + 'width="500"' + 'height="650"' + 'style="border:none;overflow:hidden"' + 'scrolling="no"' + 'frameborder="0"' + 'allowTransparency="true"' + 'allow="encrypted-media"',
                    "width": "500",
                    "height": "650"
                });
   
   
   </script>
        

{% endblock %}