.content-pres{
    background-image: linear-gradient(rgba(29, 29, 29, 0.9), rgba(29, 29, 29, 0.9));
    padding: 2vw;
    font-size: 1vw;
    font-family: Lato;
    color: var(--blanc);
    overflow: auto;
}

a {
    color: var(--orange);
}

.ligne1 {
    text-align: center;
}

h2 {
    margin: 1vw 0 0.5vw 0;
}

h3 {
    margin: 0.5vw 0;
}



/* MEDIA QUERIE */
@media screen and (max-width: 992px) {
    

    .content-pres{
        justify-content: space-between;
        font-size: 1.2vw;
    }

    
}

@media screen and (max-width: 768px) {

    .content-pres{
        font-size: 1.7vw;
    }

}

@media screen and (max-width: 576px) {

    .content-pres{
        font-size: 2vw;
    
    }

}