#loginContainer{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 5rem;
}
.boutonOrange{
    color: var(--blanc);
    font-family: Parisienne;
    font-size: 2rem;
    margin-top: 15px;
    background-image: linear-gradient(rgb(221, 132, 103), rgb(221, 132, 103));
    border: 5px solid rgb(221, 132, 103);
    padding: 10px;
}

.boutonOrange:hover{
    border: 5px solid var(--orange);
}