/*----------------------FICHE PRODUIT------------------------------*/
*{
    color: var(--blanc);
}

body {
    
    background-image: url("../images/Fond_Notre-Carte.jpg");
    
}


#contentDetails{
    grid-column: span 12;
    top:20vw;
    margin-top: 25px;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 15fr;
}

#namesection
{
    grid-column: span 12;
    text-align: center;
    
}

#namesection h1 {
    font-size: 8vw;
    font-weight: 100;
}

.produit
{
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65));
    text-align: center;
    padding: 10px;
    grid-column: span 6;
    border: 1px solid var(--orange);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 15fr;
    width: 80%;
    margin: 2vw auto;
    border-radius: 20px;
}

#image
{
    grid-column: 1 / span 4;
}

#contenu
{
    grid-column: 5 / span 8;
}

.nom
{
    font-size: 3vw;
}

.recette
{
    font-size: 1.6vw;
}

.prix
{
    font-size: 2vw;
    margin-top: 2vh;
}





@media screen and (max-width: 992px)
{
    

    .content-pres {
        justify-content: flex-start;
    }

    .produit
    {
        grid-column: 1 / span 12;
        width: 70%;
    } 
}

@media screen and (max-width: 800px)
{
    .nom
    {
        font-size:4vw;
    }
    .recette
    {
        font-size:1.8vw;
    }
    .prix
    {
        font-size:2.7vw;
    }
}

@media screen and (max-width: 768px)
{

    #pres-accueil {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .content-pres {
        margin-top: 1rem;
    }

    .reseauxIpad {
        position: static;
        align-self: center;
        transform: translate(0%);
        width: 30%;
    }
    
    img.reseau {
        width: 5vw;
    }
     
}

@media screen and (max-width: 576px)
{

    
   
    .nom
    {
        font-size:5vw;
    }
    .recette
    {
        font-size:2vw;
    }
    .prix
    {
        font-size:3vw;
    }

    img.reseau {
        width: 6vw;
    }

    
}


/*----------------------FICHE PRODUIT------------------------------*/
