/*---------------------EVENEMENTS---------------------------*/
/*---------------------EVENEMENTS---------------------------*/
/*---------------------EVENEMENTS---------------------------*/
body{
    color: var(--blanc);
    background-image: url("../images/Fonds_Evenements.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titleEvent{
    font-size: 4.5rem;
    font-weight: 100;
}

#blocEvent{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.imgAtelier{
    width: 30%;
}

#titreEvent{
    font-size: 8vw;
    font-weight: 100;
    text-align: center;
    grid-area: 1 / 1 / 2 / 3;
}

#plugFb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    grid-area: 2 / 1 / 6 / 2;
}

#pluggy {
    align-self: center;
    margin-top: 30px;
    width: 500px;
}

.imgActu {
    width: 100%;
    margin-top: 3rem;
}

#autreEvent{
    padding: 15px;
    grid-area: 2 / 2 / 6 / 3;
}


#atelierCocktail, #privatisation {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#imgAtelierCocktail, #imgPrivatisation {
    margin: 30px 0;
}


#atelierCocktail p, #privatisation p {
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65));
    font-family: Lato;
    margin-left: 10px;
    padding: 15px;
    font-size: 1.8rem;
}


#atelierCocktail a, #privatisation a {
    margin: 15px 0 30px;
}

.imgEvent1{
    transform: rotate(-15deg);
}

.imgEvent2{
    transform: rotate(-5deg);
}

.imgEvent3{
    transform: rotate(10deg);
}
.orangeBorder{
    border: 3px solid var(--orange);
    text-align: center;
}

.boutonOrange {
    margin-top: 10px;
    padding: 0.5rem 4rem;
    font-family: Parisienne;
    font-weight: 100;
    font-size: 2.5rem;
    background-color: transparent;
    background-image: linear-gradient(rgba(236, 102, 57, 0.3), rgba(236, 102, 57, 0.3));
    border: 3px solid var(--orange);
    color: var(--blanc);
    text-align: center;
    cursor: pointer;
}

.boutonOrange:hover {
    background-color: var(--orange);
    transition: 300ms linear;  
}

@media screen and (max-width: 1200px){


    #blocEvent{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
    }

    .boutonOrange {
        font-size: 2.5rem;
    }


    #plugFb{
        width: 100%;
        margin-bottom: 15px;
    }

    

    #autreEvent{
        width: 100%;
        margin-bottom: 5px;
    }
    
}

@media screen and (max-width: 992px) {
    .content-pres {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {

    #pres-accueil {
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .content-pres {
        margin-top: 2rem;

    }

    #titreEvent {
        font-size: 5.8rem;
        font-weight: 100;
        text-align: center;
        grid-area: 1 / 1 / 2 / 3;
    }

    

    
    .reseauxIpad {
        position: static;
        align-self: center;
        transform: translate(0%);
        width: 30%;
    }
    
    img.reseau {
        width: 4.5vw;
    }
}

@media screen and (max-width: 650px) {

#pluggy {
    width: 450px;
}

}

@media screen and (max-width: 576px) {

    #pluggy {
        width: 350px;
    }

    img.reseau {
        width: 5.5vw;
    }

}

@media screen and (max-width: 470px) {

    #pluggy {
        width: 300px;
    }

}

@media screen and (max-width: 390px) {

    #pluggy {
        width: 220px;
    }

}


/*---------------------EVENEMENTS---------------------------*/
/*---------------------EVENEMENTS---------------------------*/
/*---------------------EVENEMENTS---------------------------*/