/* MAIN */
.titre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titre h1 {
    font-size: 10vw;
    font-weight: 100;
    color: var(--blanc);
    margin-left: 15%;
}

.titre h2 {
    font-size: 5vw;
    font-weight: 100;
    color: var(--blanc);
    align-self: flex-end;
    margin-right: 15%;
}

.texte1 {
    width: 75%;
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65));
    font-size: 2vw;
    font-weight: 100;
    padding: 20px;
    border: 1px solid var(--orange);
    color: var(--blanc);
}

.texte2 {
    width: fit-content;
    align-self: flex-end;
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 2vw;
    font-weight: 100;
    border: 1px solid var(--orange);
    color: var(--blanc);
    padding: 20px;
    margin: 0 2rem 2rem 0;
}

/* MEDIA QUERIE */
@media screen and (max-width: 992px) {
    /* MAIN */
    .titre {
        margin-top: -4rem;
    }

    .titre h1 {
        font-size: 12vw;
        align-self: center;
        margin-left: 0rem;
    }

    .titre h2 {
        font-size: 7vw;
        align-self: center;
        margin-right: 0rem;
    }

    .texte1 {
        font-size: 3vw;
        text-align: center;
    }

    .texte2 {
        font-size: 3vw;
        align-self: center;
        margin: 0 0 0rem 0;
        align-items: center;
    }

}


@media screen and (max-width: 768px) {
    /* MAIN */
    .titre {
        margin-top: -2rem;
    }

    .titre h1 {
        font-size: 12vw;
        align-self: center;
        margin-left: 0rem;
    }

    .titre h2 {
        font-size: 7vw;
        align-self: center;
        margin-right: 0rem;
    }

    .texte1 {
        font-size: 3vw;
        text-align: center;
    }

    .texte2 {
        font-size: 3vw;
        align-self: center;
        margin: 0 0 0rem 0;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    
    .titre {
        margin-top: -1rem;
    }
    
    .titre h1 {
        font-size: 15vw;
        align-self: center;
        margin-left: 0rem;
    }

    .titre h2 {
        font-size: 10vw;
        align-self: center;
        margin-right: 0rem;
    }

    .texte1 {
        font-size: 5vw;
        text-align: center;
    }

    .texte2 {
        font-size: 4.5vw;
        align-self: center;
        margin: 0 0 0rem 0;
        align-items: center;
    }
}